fishd.macbook
fish_history
bazaar/subversion.conf
fish/completions
plugins
emacs.d/elpa
emacs.d/url
./bazaar/qbzr.conf
./bazaar/ssh_host_keys
bazaar/locations.conf
bazaar/lock
emacs.d/tramp
projectile.cache
fish/fishd.uberc50
bazaar/explorer
emacs.d/saved-places
emacs.d/history
fish/fishd.*
emacs.d/backup
emacs.d/projectile-bookmarks.eld
emacs.d/ac-comphist.dat
mercurial/hgsubversion/.hg
mercurial/hgsubversion/.hgignore
mercurial/hgsubversion/.hgtags
emacs.d/abbrev_defs
emacs.d/auto-save-list/
emacs.d/eshell
local.nix
setup/.vagrant
