"*":
  "exception-reporting":
    userId: "3a79e679-f326-eba8-2673-b848d6004961"
  welcome:
    showOnStartup: false
  metrics:
    userId: "5afe01d925f56ca54ea8945b2cce677f8755be3a"
  core:
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
    disabledPackages: [
      "autocomplete-haskell"
      "haskell-ghc-mod"
      "ide-haskell"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    softWrap: true
    fontSize: 17
  "haskell-ghc-mod":
    additionalPathDirectories: [
      "/home/dario/.local/bin/"
    ]
  "ide-haskell": {}
  "lisp-paredit": {}
  "nuclide-flow":
    pathToFlow: "/home/dario/.opam/system/bin/flow"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "atom-beautify":
    _analyticsUserId: "0e23b366-b469-4b38-9aae-5b6cca78be80"
  linter: {}
  "linter-pep257":
    executablePath: "/home/dario/.local/bin/pep257"
  "linter-flake8":
    executablePath: "/home/dario/.local/bin/flake8"
".haskell.source":
  editor:
    tabLength: 1
".python.source":
  editor:
    tabLength: 4
