'.platform-linux atom-text-editor[data-grammar~="lisp"],
 atom-text-editor[data-grammar~="clojure"],
 atom-text-editor[data-grammar~="newlisp"],
 atom-text-editor[data-grammar~="scheme"]':
  'ctrl-alt-.':         'lisp-paredit:slurp-forwards'
